*{
    padding: 0%;
    margin: 0%;
    outline: solid red 1px;
}
body{
    margin: 20px;
}
.barra {
    background: color #a59c9c;
}

.bar {
    width: 1900px;
    margin: 0 auto;
    color: black;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.columna {
    list-style-type: none;
    margin-right: 70px;
}
.letras {
    font-size: 20px;
    justify-content: flex-end;
}
.bar-l {
    width: 700px;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    font-size: 17px;
}
.bar-T {
    justify-content:space-around ;
    margin-left: 1000px;  
    list-style-type: none;
    display: flex;
}
.bar-t {
    width: 500px;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    font-size: 17px;
    margin-top: 0%;
}
.contenedor{
    width: 300px;
    margin: 10px;
}
#btn {
    width: 90px;
    height: 20px;
    border-radius: 6px;
    margin-left: 320px;
}
#busqueda {
    width: 300px;
    height: 22px;
    border-radius: 6px;
}